/*Uses border around and width should be fixed */
.card-backgr {
  width: 324px;
  height: 675px;
  background-color: #DDDDDD;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: #BBB;
  box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.2);
}

.tab1 {
  padding-left: 12px;
}

.card-photo {
  width: 300px;
  display: block;
  margin: auto;
}
/*The dots are removed*/
.list-unbullet {
  padding: 0px;
  list-style-type: none;
}
/*The labels are bolded*/
.label-bold {
  font-weight: bold;
}
/*The text is italicized*/
.fact-emphasize {
  margin: 0;
  padding: 0;
  font-style: italic;
}
/*Uses border around*/
.info-place {
  margin: 12px;
  padding: 12px;
  border-style: solid;
  border-width: thin;
  border-color: #BBB;
  text-align: justify;
}
